miniwdl==1.7.1
pre-commit==4.6.0
pytest==9.1.0
pytest-xdist==3.8.0
flake8==7.3.0
ruamel.yaml==0.19.1
taxadb==0.12.1
boto3==1.43.32
requests==2.34.2
scikit-learn==1.7.2
biopython==1.87
marisa-trie==1.4.1
